<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ProdEnvironmentSettings" type="AutoCodeGenerator.EnvironmentData, AutoCodeGenerator, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
    <section name="TestEnvironmentSettings" type="AutoCodeGenerator.EnvironmentData, AutoCodeGenerator, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
    <section name="ClearEnvironmentSettings" type="AutoCodeGenerator.EnvironmentData, AutoCodeGenerator, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
  </configSections>

  <!--<ProdEnvironmentSettings strMSSqlDB="Data Source=UJJWALLAPTOP\SQLEXPRESS;Initial Catalog=EZRIDE1;" USERID="sa" PASSWORD="ad#ujjwal"  REPORTLOCATION="C:\10.ezride\ezRideTOOL\reports" />
  <TestEnvironmentSettings strMSSqlDB="Data Source=UJJWALLAPTOP\SQLEXPRESS;Initial Catalog=EZRIDE1;" UserId="sa" Password="ad#ujjwal"  REPORTLOCATION="C:\10.ezride\ezRideTOOL\reports" />-->
  <ProdEnvironmentSettings strMSSqlDB="Data Source=(DESCRIPTION= (ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.11)(PORT=1521)))(CONNECT_DATA=(SERVER=Default)(SERVICE_NAME=ORCL)));" USERID="ezride" PASSWORD="ad#ujjwal"  REPORTLOCATION="C:\10.AutoCodeGenerator\ezRideTOOL\reports" />
  <TestEnvironmentSettings strMSSqlDB="Data Source=192.168.0.11;Initial Catalog=EZRIDE1;" UserId="sa" Password="ad#ujjwal"  REPORTLOCATION="C:\10.ezride\ezRideTOOL\reports" />
  <ClearEnvironmentSettings strMSSqlDB="" USERID="" PASSWORD=""  REPORTLOCATION="" />
  <appSettings>
    <add key="strMSSqlDBPD" value="Data Source=192.168.0.11;Initial Catalog=EZRIDE1;"/>
    <add key="useridpasswordKey" value="User Id=sa;Password=ad#ujjwal;"/>
    <add key="ReportsPath" value="C:\github\ezRideOffice" />
    <add key="ReportsName" value="Reportv1.rdlc" />
    <add key="cacheImplementation" value="on"/>
   <!-- <add key="ReportsName" value="Reportv2.rdlc" />-->
    
    <add key="REPORTLOCATION" value="D:\working\ezRideTOOL\reports" />
    <add key="ReportsOutputPath_common" value="C:\github\reports\" />
    <add key="ReportsOutputPath_email" value="C:\github\reports\ReportsOutputPath_email" />
    <add key="ReportsOutputPath_postalmail" value="C:\github\reports\ReportsOutputPath_postalmail" />
    <add key="ReportsOutputPath_both" value="C:\github\reports\ReportsOutputPath_both" />
    <add key="USPSKEY" value="118ITCON7042" />
    <add key="SmtpHost" value= "smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUser" value="deloitteconsultingbeacon@gmail.com" />
    <add key="SmtpPW" value="Pacses.12" />
    <add key="EmailRecipients" value="me@mydomain.com;other@mydomain.com" />
    <add key="Namespace" value="CodeGenerator" />
    <add key="interface" value="IDataService"/>
    <!--// testingsbcs@gmail.com" />//trytoguess" />-->
    <add key="ActivationHTMLTempalate" value=" "/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>